/node_modules
/dist
/out
/build
*.exe
*.msi
*.dmg
*.zip
*.7z
*.nupkg
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
/favorites.json
/settings.json
/Poets/
.DS_Store
Thumbs.db
/.gitignore
/Poets-Version.yml
/Poets.zip
